<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>代辦事項</title>
</head>
<body>
<p th:text="${title}">代辦事項</p>
<!-- <p th:utext="${title}">代辦事項</p> -->

<div>
	<img th:src="@{img/todo{id}.jpg (id=${2})}" width="800px"/>
</div>
<a th:href="@{/toAddPage}" href="/toAddPage">新增</a>

<!-- <a href="/addTodo2.html">新增</a> -->
<table border="1">
	<tr>
		<td>標題</td>
		<td>到期日</td>
		<td>狀態</td>
		<td>功能</td>
	</tr>
	
	<tr th:each="todo :${todoList}">
		<td th:text="${todo.title}">標題</td>
		<td th:text="${todo.dueDate}">到期日</td>
		<td th:text="${todo.memo}">狀態</td>
		<td>
 			<a th:href="@{/toEditPage/{id} (id=${todo.id})}">編輯</a>
			<a th:href="@{/delete/{id} (id=${todo.id})}">刪除</a>
		</td>
	</tr>
	
	
</table>

<hr/>

<div th:replace="~{common :: footer2}"></div>

<div th:include="~{common :: footer2}"></div>

</body>
</html>