<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>甜 時 ． Sweet</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
</head>

<body>
	<!-- 共用 navbar-->
	<div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="word text-center">
        <h1>草莓奶油慕斯蛋糕</h1>
        <p>堅持使用頂級原料，不含任何防腐劑。讓你吃得安心，看的到用心。</p>
    </div>
    
</body>

</html>
